.container_competences {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.container_competences > div {
  background: var(--color-primary-variant);
  padding: 2.5rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 38%;
}

.container_competences > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.container_competences > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  place-items: center;
}

.experience_details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.logo_style {
  margin-top: 5px;
}

/* Media Queries for small and medium width */
@media screen and (max-width: 600px) {
  .container_competences {
    gap: 1rem;
  }
  .container_competences > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .container_competences {
    grid-template-columns: 1fr;
  }
  .container_competences > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience_content {
    padding: 1rem;
  }
}
