.container_footer {
  text-align: center;
  background: var(--color-bg-variant);
  margin-top: 4rem;
  padding: 1.3rem 0rem 1.3rem;
  gap: 1.5rem;
}

.main_part_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer_icon {
  font-size: 1.5rem;
}

.second_part_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0% 13%;
}

.socials_icon_container {
  display: flex;
  gap: 0.8rem;
}

.social_icon {
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .main_part_footer {
    flex-direction: column;
  }
}
